function waiting.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 0
call Animations.new 0
pop this 2
push pointer 0
return
function waiting.wait 0
push argument 0
pop pointer 0
push argument 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 2
call Animations.DrawStart 1
pop temp 0
label IF_FALSE0
label WHILE_EXP0
push this 0
not
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop this 1
push pointer 0
call waiting.checkKey 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push argument 1
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 2
call Animations.EraseScreen 1
pop temp 0
label IF_FALSE1
push constant 0
return
function waiting.checkKey 0
push argument 0
pop pointer 0
push this 1
push constant 32
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 4
call String.new 1
push constant 100
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 101
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
not
pop this 0
label IF_FALSE0
push constant 0
return
